.chakac{
    color: aliceblue;
}
.chakac:hover{
    color: rgb(144, 255, 227);
}

.chaka{
    list-style: none;
    background-color: rgb(75, 73, 73);
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    font-size: 18px;
    }
    .chaka ul{
        text-align: center;
        padding: 15px 30px;
        }
        .chaka ul li{
            list-style: none;
            display: inline-flex;
            padding: 5px 30px;
            color: wheat;
        
        }
