
.navbar{
    list-style: none;
    background-color: rgb(60, 230, 37);
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    }
    .navbar ul{
    text-align: center;
    padding: 5px 20px;
    }
    .navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 30px;
    color: wheat;
    
    }
    .navbar ol li:hover {
        background-color: darkorange;
        translate:-10px -10px;
        cursor: pointer;
    }


            body {
              font-size: 25px;
            }
            footer{
                position: relative;
                grid-column: 1/-1;
                width: auto;
                height: auto;
                top: 250px;
                text-align:center;
                padding: 3px;
                background-color: darksalmon;
                color:white;
            }

            h1{
                text-align: center;
            }
          