.page {
    display: none;
}
.active {
    display: block;
}
.text{
    text-align: justify;
    
}

.danpashe{
    margin-left: 40px;
}

.pic{
    margin-top: 1%;
    border-radius: 15px;
}

.upore{
    margin-top: 50px;
}
.img-size{
    width:200px;
}
.pashe{

    width: 530px;
    

}
